.divLogin{
    background: rgb(31, 30, 30);
    padding:0 ;
    display: flex;
    justify-content: flex-end;
    height: 50px;
    width: 988px;
}




.right{

    display: flex;
    position: relative;
    right: 340px;
    bottom: -10px;
}
.left{
    position: relative;
    left: 550px;
}