.spotify-logo--text{
    height: 60px;
    max-width: 131px;
    width: 100%;
    color: #fff;
    position: relative;
    padding: 0px 8px;
    left: 29px;
    bottom: -10px;
}
.logo{
    position: relative;
    top: -65px;
    background-color: black;
    padding-right: 0%;
    
    
}
