<!-- <div
    class="GlueDropTarget GlueDropTarget--albums GlueDropTarget--tracks GlueDropTarget--local-tracks GlueDropTarget--episodes">
    <button type="button" class="buttonList" data-testid="create-playlist-button">
        <div class="Bwc9jlVb7HWs8JJupnBB">
            <div class="q3ABXYJT9JZIzXOOtVuO"><svg role="img" height="12" width="12" aria-hidden="true"
                    viewBox="0 0 16 16" class="Svg-sc-1bi12j5-0 jgfuCe">
                    <path
                        d="M15.25 8a.75.75 0 01-.75.75H8.75v5.75a.75.75 0 01-1.5 0V8.75H1.5a.75.75 0 010-1.5h5.75V1.5a.75.75 0 011.5 0v5.75h5.75a.75.75 0 01.75.75z">
                    </path>
                </svg></div>
        </div><span class="Type__TypeElement-goli3j-0 eHCcSU J4xXuqyaJnnwS6s2p3ZB standalone-ellipsis-one-line">Crear
            lista</span>
    </button></div> -->

<div class="allComponent">
    <button type="button" class="buttonList" data-testid="create-playlist-button">
        <div class="Bwc9jlVb7HWs8JJupnBB">
            <div class="divImg">
                <svg role="img" height="12" width="12" aria-hidden="true"
                    viewBox="0 0 16 16" class="cross">
                    <path
                        d="M15.25 8a.75.75 0 01-.75.75H8.75v5.75a.75.75 0 01-1.5 0V8.75H1.5a.75.75 0 010-1.5h5.75V1.5a.75.75 0 011.5 0v5.75h5.75a.75.75 0 01.75.75z">
                    </path>
                </svg></div>
         </div><span
            class="text">Crear
             lista</span>
      </button>
</div>















<!-- <svg role="img" height="12" width="12" aria-hidden="true"
            viewBox="0 0 16 16" class="Svg-sc-1bi12j5-0 jgfuCe">
            <path
                d="M15.25 8a.75.75 0 01-.75.75H8.75v5.75a.75.75 0 01-1.5 0V8.75H1.5a.75.75 0 010-1.5h5.75V1.5a.75.75 0 011.5 0v5.75h5.75a.75.75 0 01.75.75z">
            </path>
        </svg>
        Create List -->