.home{
    height: 20px;
    max-width: 21px;
    width: 100%;
    color: #fff;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    text-decoration:none
}
.loupe{
    height: 20px;
    max-width: 21px;
    width: 100%;
    color: #fff;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    text-decoration:none
}
.books{
    height: 20px;
    max-width: 21px;
    width: 100%;
    color: #fff;
    font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
    text-decoration:none
}
